a.button {
  background: rgba(0, 0, 0, 0.1);
  outline: none;
  text-decoration: none;
  border: 0;
  color: inherit;
  padding: 0.8em 1em;
  border-radius: 2em;
  font-size: 1em;
  display: inline-block;
  transition: 0.15s;
  margin: 0 .25em;
}

a.button:hover {
  background: rgba(255, 255, 255, 0.1);
}

a.button:active {
  background: rgba(255, 255, 255, 0.2);
}

a.button.default {
  font-size: 1.5em;
  margin-bottom: 1em;
}

a.button > .fa {
  margin-right: .4em;
}
