body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: rgba(0, 0, 0, 0.87);
  font-size: 18px;
}

section {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: white;
  text-align: center;
}

#intro {
  background: #263238;
  color: #fff;
}

#falstart {
  background: #F44336;
  color: #fff;
}

#result {
  background: #43A047;
  color: white;
}

#end {
  background: #039BE5;
  color: white;
}

#falstart, #result, #end {
  display: none;
}

#roundName {
  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
  font-size: 3em;
  animation-timing-function: ease;
  animation-duration: .5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-name: slideOutUp;
}

.footer {
  margin-top: 3em;
}

.ball {
  position: absolute;
  top: 0;
  left: 0;
  width: 10em;
  height: 10em;
  display: none;
  border: .5em solid;
  border-radius: 100%;
  background: #E91E63;
  z-index: 100;
}

#resultsTable {
  display: inline-block;
  margin: 0;
  padding-left: 1.5em;
}

#resultsTable > li {
  font-size: 1.2em;
}
